# Local variable and credentials
.env
.env.local

# Virtual enviroment create by uv or python
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

